.App {
  text-align: center;
  background-color: rgb(241, 241, 241);
}

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);

}

.graph {
  display: flex;
  margin: 1.5vw;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.graphembed {
  display: flex;
  margin: 1.5vw;
  width: 100%;
}

.navbar {
  display: flex;
  box-shadow: 0px 3px 2px #d7d7d7;
  height: 55px;
  margin-bottom: 1vw;
}

.navlogo {
  position: absolute;
  display: block;
  height: 55px;
  margin: auto;
  right: 5%;
}

/* #223461 */

.profile {
  display: flex;
  height: 55px;
}

.uploadbuttonwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vw;

}

.uploadbutton {
  height: 3vw;
}

.landingpage {
  display: flex;
  flex-direction: column;


}

.landingcontent {
  /* background-image: url(./utils/landing-page.jpg);
  background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  height: auto;
  font-size: 5.5vw;
  /* top: 50%;
  left: 50%; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: row;
  align-items: center;

}

.landingimg {
  width: 45%;
  opacity: 0.8;
  margin: 5vw;
}

.landingtitle {
  position: relative;
  color: #223461;
  margin-bottom: 2vw;
}

.landingtextwrapper {
  display: flex;
  flex-direction: column;
}

.landingintro {
  font-size: 3vw;
}


.dashboardcontent {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.controls {
  font-size: 1.3vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vw
    /* gap: 3vw 3vw; */

}


.plot {

  width: auto;
  padding: 1vw;

}

.settingsleft {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  padding-bottom: 4vw;

}

.savesettings {
  height: 3vw;

}

.labelname {
  display: flex;
  flex-direction: column;
}

.heightandwidth {
  display: flex;
  flex-direction: column;
}

.domain {
  display: flex;
  flex-direction: column;
}

.clickboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  font-size: 1.3vw;
}

button {
  /* background-image: linear-gradient(92.88deg, #223461 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
  background: #223461;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  margin: 0.5vw;
  box-shadow: 1px 3px 2px #d7d7d7;

}

button:hover {
  background: #4e6192;

}

.publishdropdown {
  width: 70%;
  font-size: smaller;
}

.publishbutton {
  height: 3vw;
}

/* <!-- HTML !-->
<button class="button-36" role="button">Button 36</button> */

/* CSS */
/* .button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
} */